<div class="container w-100">
  <div class="row w-100 mt-5">
    <div class="col-md-12">
      <h1>Sejam bem-vindes ao meu blog!</h1>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-md-12">
      <p class="text-justify text-monospace">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere vel
        reprehenderit molestias nostrum tempore expedita! Quibusdam minus aut
        non quia illo maiores eligendi doloremque impedit, obcaecati repellendus
        similique deleniti corrupti porro eveniet adipisci molestias natus modi
        id totam nesciunt ea veniam nobis? Nihil cumque veritatis repellendus
        magni est optio libero, ut accusamus amet nobis non, eaque quam
        obcaecati doloribus tempore rerum? Maxime ab asperiores voluptates iusto
        a totam veniam culpa nihil, magnam distinctio. Optio ducimus deserunt
        voluptatum, ab unde hic?
      </p>
    </div>
  </div>
</div>

<div class="parallax"></div>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
      <button
        routerLink="/feed"
        class="btn btn-outline-dark text-uppercase font-weight-bold"
      >
        Ver o feed
      </button>
    </div>
  </div>
</div>
