<div class="card border-0" style="width: 18rem">
  <div class="d-flex justify-content-center">
    <img
      src="/assets/me.jpg"
      class="card-img-top rounded-circle w-75"
      alt="Julio Cesar"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title text-center text-monospace">Julio Cesar</h5>
    <p class="card-text text-monospace">Full Stack Developer</p>
    <a
      href="https://www.linkedin.com/in/juliop3p/"
      target="_blank"
      class="btn btn-outline-info mb-3 d-flex justify-content-center"
      >LinkedIn</a
    >
    <a
      href="https://github.com/juliop3p"
      target="_blank"
      class="btn btn-outline-dark d-flex justify-content-center"
      >GitHub</a
    >
  </div>
</div>
